# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.env  # Ensure .env is ignored to keep your API keys private

# Android
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/.last_build_id
